$dark-theme: (
  green: limegreen,
  red: red,
  foreground: #d2d2d2,
  main: #1d1d1f,
  button: #232324,
  table-hover: #232324,
  gold: gold,
  main-text: #afafaf,
  dark-gray: #696969,
  gray: #808080,
  white: #ffffff,
  hover: #2d2f2f,
  border: #282828,
  border-hover: #909090,
  circle-hover: rgba(255, 255, 255, 0.03),
  panel-hover: rgba(255, 255, 255, 0.3),
  navbar-hover: rgba(0, 0, 0, 0.15),
);
