$light-theme: (
  green: #4eaf0a,
  red: red,
  foreground: #262626,
  main: #fffafa,
  button: #e7e7e7,
  table-hover: rgba(239, 239, 239, 0.48),
  gold: #ffbf00,
  main-text: #131313,
  dark-gray: #696969,
  gray: #4c4c4c,
  white: #ffffff,
  hover: rgba(232, 226, 226, 0.58),
  border: #dedede,
  border-hover: #747474,
  circle-hover: rgba(142, 138, 138, 0.13),
  panel-hover: rgba(0, 0, 0, 0.66),
  navbar-hover: rgba(0, 0, 0, 0.15),
);
